.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-coin {
    width: 47px;
    height: 47px;
    background-position: -5px -5px;
}

.sprite-doorClosed {
    width: 70px;
    height: 140px;
    background-position: -62px -5px;
}

.sprite-doorOpen {
    width: 70px;
    height: 140px;
    background-position: -142px -5px;
}

.sprite-snow {
    width: 70px;
    height: 70px;
    background-position: -5px -155px;
}

.sprite-snowblock {
    width: 70px;
    height: 70px;
    background-position: -85px -155px;
}

.sprite-snowyblock {
    width: 70px;
    height: 70px;
    background-position: -165px -155px;
}

.sprite-spinner {
    width: 62px;
    height: 62px;
    background-position: -222px -5px;
}

.sprite-spinnerdead {
    width: 62px;
    height: 62px;
    background-position: -222px -77px;
}

.sprite-spinnerhit {
    width: 62px;
    height: 62px;
    background-position: -245px -149px;
}

.sprite-spinnerspin {
    width: 62px;
    height: 62px;
    background-position: -245px -221px;
}

.sprite-waterice {
    width: 70px;
    height: 70px;
    background-position: -294px -5px;
}
